@media screen and (max-width: 769px) {
    .small-screen {
        display: none;
    }

    #mapHome {
        height: 150%;
    }
    #mapContact {
        padding-left: 0;
        padding-right: 0;
        height: 40vw;
    }

}

@media screen and (min-width: 770px ) and (max-width: 1200px) {
    .big-screen {
        display: none;
    }

    .seperate-map {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-column {
        max-width: 100%;
    }

    .right-column {
        max-width: 90%;
        min-height: 400px;
        padding-top: 50px;
    }

    #rightColumnHome {
        padding-right: 0 !important;
    }

    #mapContact {
        padding-left: 4rem;
        padding-right: 4rem;
        height: 30vw;
        padding-bottom: 30px;
    }

}

@media screen and (min-width: 1201px) {
    .big-screen {
        display: none;
    }

}

@media screen and (max-width: 664px) {
    #mapContact {
        height: 60vw;
    }
}

.slider {
    width: 600px;
    /* height: 400px; */
    margin: 0 auto;
    padding:3px;
    background-color: white;
}

.item {
    /* width: 600px;  <img> only respects the boundaries of it's parent container. that mean you have to set again a height and width */ 
    width: 100%;
    height: 400px;
}

.item > img {
    /* max height combined with object-fit: cover brings about the desired result of croping the image without distorting the dimensions */
    max-height: 500px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

/* individual slider stylings */

.sliderStyles * {
    color: white;
    text-align: center;
    display: block;
}

.sliderStyles span {
    font-size: .8em;
}